*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7091211484593838) 40%, rgba(0,0,0,1) 80%);
}
#imagemfundo{
    background-image: url("../imagens/thor.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    background: rgb(0,1,1);
    background: linear-gradient(180deg, rgba(0,1,1,0.8295693277310925) 5%, rgba(0,1,1,0.4962359943977591) 100%);
}
header img{
    width: 150px;
    padding: 10px;
}
.esquerda{
    display: flex;
    width: 800px;
    justify-content: space-around;
    list-style-type: none;
    color: aliceblue;
    font-size: 20px;
    margin: -8px 0 0 -30px;
}
.direita{
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: aliceblue;
    font-size: 20px;
}
.direita img{
    width: 40px;
    height: 40px;
}
#avatar{
    width: 50px;
    height: 50px;
}
.resumo{
    display: flex;
    align-items: center;
    width: 150px;
    padding-left: 30px;
    font-size: 30px;
    font-weight: 800;
    color: rgb(6, 7, 8);
}
.resumo img{
    height: 70px;
}
#tipo{
    font-size: 15px;
    padding-left: 15px;
}
.titulo{
    display: flex;
    flex-direction: column;
    width: 340px;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 80px;
    color: rgb(162,34,71);
}
h2{
    font-size: 40px;
    color: rgb(4,53,196);
}
.inicio{
    display: flex;
    width: 600px;
    height: 200px;
    align-items: center;
    margin-top: 50px;
}
p{
    width: 310px;
    font-size: 15px;
    padding-left: 30px;
    font-weight: 600;
}
#descricao{
    color:floralwhite;
}
.botao{
    display: flex;
    width: 410px;
    justify-content: space-around;
    margin: 25px 0 0 20px;
}
.assistir{
    display: flex;
    width: 140px;
    height: 55px;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
#play{
    width: 20px;
    margin-right: 10px;
}
.informações{
    display: flex;
    width: 234px;
    height: 55px;
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(106, 94, 90, 0.582);
    color: aliceblue;
}
#inf{
    height: 25px;
    margin-right: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
#listafilme{
    font-size: 20px;
    margin: 5px 0px 10px;
    color: aliceblue;
    padding-top: 20px;
}
.lista3{
    margin-bottom: 30px;
}
.baners:hover{
    transform: scale(1.1);
    border: 2px rgb(237,131,115) solid;
}