*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}body{
	display: flex;
	flex-direction: column;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
	background-color: #00002e;}
header img{
	width: 10rem;
	margin: 14px 0 0 36px;
}
h2{
	color: aliceblue;
	font-size: 2rem;
	margin-bottom: 20px;
}
button{
	background-color: #00002e;
	padding: 1rem;
	width: 300px;
	border: none;
	border: solid aliceblue;
	margin: 15px 0 15px 0;
	color:aliceblue;
	font-size: 1em;
	font-weight: bold;
}
div.pg-home{
	display: flex;
   	justify-content: center;
}
section{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-items: center;
    align-items: center;
	margin-top: 80px;
}	
ul{
	width: 1064px;
	display: flex;
	justify-content: space-between;
	margin: 20px 0 20px 0;
	padding: 0;
}
ul li {
	color: aliceblue;
	list-style: none;
}
ul li img{
	width: 186px;
}
figcaption{
	display: none;
}
footer{
	margin: 40px;
}